@model User
@{
    ViewData["Title"] = "Create User";
}
<h1 class="bg-info text-white">Create New User</h1>
<a asp-action="Index" asp-controller="Admin" class="btn btn-secondary">User List</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" asp-controller="Admin" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Add User</button>
    </div>
</form>