@{
    ViewData["Title"] = "Session";
}

<div class="card">
    <div class="card-header">
        <h1 class="bg-info text-white">Session Index</h1>
    </div>
    <div class="card-body">
        <h3>
            Session Created
        </h3>
        <br />
        <a class="btn btn-success" asp-action="ShowSession" asp-controller="Session">Go to Session</a>
    </div>
</div>