@{
    ViewData["Title"] = "Cookies";
}
<div class="card">
    <div class="card-header">
        <h1 class="bg-info text-white">Cookie Index</h1>
    </div>
    <div class="card-body">
        <h3>
            Cookie Created
        </h3>
        <br />
        <a class="btn btn-success" asp-action="ShowCookie" asp-controller="Cookie">Go to Cookies</a>
    </div>
</div>